* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, rgba(16,10,119,1) 0%, rgba(92,9,121,0.5886729691876751) 35%, rgba(242,164,255,0.30015756302521013) 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
